
<div class="container">
    <div class="content-wrapper">
        <button routerLink="/create" class="create-button" mat-button>Create Blog</button>
        <div class="card">
            <div class="title">Title</div>
            <div class="author">Written by</div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quisquam provident, sapiente cumque error eum dicta accusamus iste, aliquam eveniet officiis? Animi optio a blanditiis nisi quisquam voluptatem dicta itaque.
            </div>
        </div>
        <div class="card">
            <div class="title">Title</div>
            <div class="author">Written by</div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quisquam provident, sapiente cumque error eum dicta accusamus iste, aliquam eveniet officiis? Animi optio a blanditiis nisi quisquam voluptatem dicta itaque.
            </div>
        </div>
        <div class="card">
            <div class="title">Title</div>
            <div class="author">Written by</div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quisquam provident, sapiente cumque error eum dicta accusamus iste, aliquam eveniet officiis? Animi optio a blanditiis nisi quisquam voluptatem dicta itaque.
            </div>
        </div>
        <div class="card">
            <div class="title">Title</div>
            <div class="author">Written by</div>
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quisquam provident, sapiente cumque error eum dicta accusamus iste, aliquam eveniet officiis? Animi optio a blanditiis nisi quisquam voluptatem dicta itaque.
            </div>
        </div>
    </div>
</div>